VITE_SUPABASE_URL=https://mwefsjrdukmcpijcurqo.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Im13ZWZzanJkdWttY3BpamN1cnFvIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzQzNjYxNDcsImV4cCI6MjA4OTk0MjE0N30.JlTKj7Pt0561M0n-6ZzKFufC04DSDdxna979M4n_RhE